<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div style="margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; text-align: center;">
    <div style="width: 33.333333%; max-width: 33.333333%; padding-right: 15px; padding-left: 15px; float: left; text-align: start; margin-bottom: 3rem;">
        <img th:src="${employee.stringImage}" style="width: 250px; height: 250px;" alt="no image" />
    </div>
    <div style="width: 33.333333%; max-width: 33.333333%; padding-right: 15px; padding-left: 15px; float: left; text-align: start; margin-left: 16.666666%; margin-bottom: 3rem;">
    <h1>FICHE EMPLOYE</h1>
        <p>Registration Number: <span th:text="${employee.registrationNumber}"></span></p>
        <p>Last name: <span th:text="${employee.lastName}"></span></p>
        <p>First name: <span th:text="${employee.firstName}"></span></p>
        <p>Age: <span th:text="${employee.age}"></span></p>
        <p>Entrance date: <span th:text="${employee.entranceDate}"></span></p>
        <p>Departure date: <span th:text="${employee.departureDate}"></span></p>
        <p>Cnaps number: <span th:text="${employee.cnaps}"></span></p>
    </div>
</div>
<div style="margin-right: auto; margin-left: auto; text-align: center;">
    <h1>Informations sur le salaire: </h1>
    <br />
    <p><strong>Salaire brut actuel: </strong> <span th:text="${employee.salary}"></span>
    <span>Ariary / Mois</span></p>
</div>
<hr />
<div>
    <div style="padding-top: 1.5rem; padding-bottom: 1.5rem;">
        <div style="width: 100%; margin-right: auto; margin-left: auto;">
            <div style="display: table; width: 100%;">
                <div style="display: table-cell; width: 33.333333%; padding-right: 15px; padding-left: 15px;">
                    <div style="display: table-cell; width: 100%; vertical-align: middle;">
                        <img th:src="${companyConf.logo}" style="width: 150px; height: 150px;" alt="logo" />
                    </div>
                </div>

                <div style="display: table-cell; width: 33.333333%; padding-right: 15px; padding-left: 15px;">
                    <p><strong>Company:</strong> <span th:text="${companyConf.name}"></span></p>
                    <p><strong>NIF:</strong> <span th:text="${companyConf.taxIdentity.nif}"></span></p>
                    <p><strong>STAT:</strong> <span th:text="${companyConf.taxIdentity.stat}"></span></p>
                </div>

                <div style="display: table-cell; width: 33.333333%; padding-right: 15px; padding-left: 15px;">
                    <p><strong>Address:</strong> <span th:text="${companyConf.address}"></span></p>
                    <p><strong>Phone:</strong></p>
                    <ul th:each="phone : ${companyConf.phones}">
                        <li th:text="${phone.value}"></li>
                    </ul>
                    <p><strong>Email:</strong> <span th:text="${companyConf.email}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>